{% extends "aplicacion/padre.html" %}

{% load static %}

{% block content %}
<head>
    <title>Familiares</title>
</head>
<body>
    <div>
        <table>
            <thead>
                <tr>
                    <td>Nombre</td>
                    <td>Parentezco</td>
                    <td>Edad</td>
                    <td>Fecha Nacimiento</td>
                    <td>Ocupacion</td>
                </tr>
            </thead>
            <tbody>
                
                {% for familiar in familiar %}
                    <tr>
                        <td>{{ familiar.nombre }}</td>
                        <td>{{ familiar.parentezco }}</td>
                        <td>{{ familiar.edad }}</td>
                        <td>{{ familiar.fecha_nacimiento }}</td>
                        <td>{{ familiar.ocupacion }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
                       
        <form action="{% url 'familiar' %}" method="POST">
            {% csrf_token %}
            <table>
                {{formulario.as_table}}
            </table>
            <input type="submit", value="Enviar">


        </form>
    
    </div>
</body>
{% endblock %}